/*body of landing page*/
body{
  background-color: black;
  padding: 0;
  margin: 0;
}

/* Navbar container */

#logo{
    width: 150px;
    height: 104px;
}

.navbar {
    background-color: black;
    font-family: Arial;
    width: 100%;
    position: fixed;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 30px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: #ab914a;
    border-style: solid;
    outline: #ab914a;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: goldenrod;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-right: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Landing Section */
  .landing-img{
    width: 100%;
  }

  .quote{
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 20px;
  }

  #property-info-header{
    color: #ab914a;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .property-description{
    color: white;
    width: 60%;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }

  /* Virtual tour Section */
  .tour-header{
    color: #ab914a;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }



  /*Features Section*/
  .features-header{
    color: #ab914a;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .features-div{
    margin: auto;
  }

  .features-img{
    padding-left: 30px;
    width: 80%;
    margin: auto;
    display: block;

  }

  .divider{
    width: 50%;
    margin: auto;
    display: block;
  }

  /* Photos */
  .photo-header{
    color: #ab914a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container{
  width: 800px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
    
}

.slider-slide{
  background: pink;
  display: flex;
  margin:0;
  padding:0;
  width: 100%;
  margin-left: 125px;
}

.img-slides{
  width: 70%;
}

/* .prevBtn{
  position: absolute;
  top:50%;
  left:0;
  margin-left: 10px;
  z-index: 100;
}

.prevBtn::after{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f137';
  font-size: 2rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.nextBtn{
  position: absolute;
  top:50%;
  right:0;
  margin-right: 10px;
  z-index: 100;
}

.nextBtn::after{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f138';
  font-size: 2rem;
  color: blue;
  opacity: 0.5;
  cursor: pointer;
} */

  /* Additional info */
  .additional-info-header{
    color: #ab914a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
  }

  #links-list{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .item{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
  }

  .contact{
    color: #ab914a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
  }

  .cta-btn{
    transition-duration: 0.4s;
    width: 250px;
    height: 50px;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  .cta-btn:hover {
    background-color: #ab914a; 
    color: white;
  }

  .signature{
    margin: auto;
    display: block;
    width: 50%;
  }