/*body of landing page*/
body{
  background-color: black;
  padding: 0;
  margin: 0;
  text-align: center;
}


#divider {
  width: 70%;
  display: block;
  margin: auto;
  text-align: center;
}

.divider{
  display: block;
  margin: auto;
  text-align: center;
}

/* Navbar container */

#logo{
    width: 150px;
    height: 119px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.navbar {
    background-color: black;
    font-family: Arial;
    width: 100%;
    position: fixed;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
    padding-right: 25px;
    padding-top: 20px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    border: hidden;
  }

  .hamburger{
    width: 50px;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #a49b63;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-right: 10px;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #a49b63;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Landing Section */
  .landing-img{
    width: 100%;
  }

  .quote{
    display: block;
    margin: auto;
    width: 70%;
    padding-top: 70px;
    color: white;
    text-align: center;
  }

  .quote-text{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }


  #property-info-header{
    color: #a49b63;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }

  #prop-price{
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
  }

  .property-description{
    color: white;
    width: 60%;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
  }

  .paragraph-text{
    text-align: justify;
    font-size: 20px;
  }

  /* Virtual tour Section */
  .tour-header{
    color: #a49b63;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    font-weight: lighter;
  }

  #vt{
    padding-bottom: 20px;
  }

  /*Features Section*/
  .features-header{
    color: #a49b63;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 45px;
    padding-bottom: 40px;
  }

  .features-div{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    width: 80%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  .table-left{
    width: 47%;
    float: left;
  }

  .table-right{
    width: 47%;
    float: right;
  }

/* Virtual tour section */
  #virtual-tour{
    margin: auto;
    text-align: center;
    display: block;
  }


/* Photos */

  #photo-div{ 
    margin: auto;
    text-align: center;
    display: block;
  }

  .photo-header{
    color: #a49b63;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 45px;
    padding-bottom: 40px;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container{
  width: 800px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 60px;
}

.slider-slide{
  background: black;
  display: flex;
  margin:0;
  padding:0;
  width: 100%;
  align-items: flex-start;
}

.img-slides{
  width: 853px;
  height: auto;
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.prevBtn:hover {
  background-color: rgba(119, 126, 149, 0.3);
}

.nextBtn{
  position: absolute;
  top: 50%;
  right: -2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.nextBtn:hover{
  background-color: rgba(119, 126, 149, 0.3);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.nextBtn:active {
  outline: none;
  border: none;
}

button:focus {outline:0;}

  /* Additional info */

  .signature-container{
    position: relative;
  }

  .signature-img{
    width: 65%;
  }

  .cta-btn{
    transition-duration: 0.4s;
    width: 75%;
    height: 40px;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }

  .cta-btn2{
    transition-duration: 0.4s;
    width: 75%;
    height: 40px;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }

  .cta-btn2:hover {
    background-color: #a49b63; 
    color: white;
  }

  .cta-btn:hover {
    background-color: #a49b63; 
    color: white;
  }

  .email-link1{
    background-color: black;
    color: #a49b63;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
  }

  .email-link2{
    background-color: black;
    color: #a49b63;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
  }

  .phone-link1{
    background-color: black;
    color: #a49b63;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
  }

  .phone-link2{
    background-color: black;
    color: #a49b63;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
  }

  .ozzie-div{
    position: absolute;
    top: 50%;
    left: 32%;
    text-align: left;
  }

  .alina-div{
    text-align: right;
    position: absolute;
    top: 50%;
    right: 32%;
  }